#tabs {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#tabs li {
  list-style: none;
}

#tabs li a {
  background-color: #dedede;
  color: #222;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
}

#tabs li a.active, #tabs li a:hover {
  background-color: #004b87;
  color: white;
}

div.content {
  display: none;
  color: #222;
  background-color: #efefef;
  padding: 20px;
  border-radius: 8px;
}

div.content.active {
  display: block;
}
